/*
--dark
primary #0e1013
secondary #31323d
buttons #8b3ff0
text #ffffff

--light
primary #0984e3
secondary #dfe6e9
text #fff
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    list-style: none;
}

#container {
    display: grid;
    grid-template-columns: minmax(100px, 250px) auto;
    grid-template-rows: 100vh;
    transition: all 1000ms ease;
    z-index: 2;
}

#sidebar {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 1fr;
    box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 10;
    background-color: #0e1013;
    color: #fff;
}

#sidebar a {
    color: #fff;
}

picture {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.user-photo {
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #31323d;
    box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.list {
    text-align: center;
}

.mylist {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px 0 10px 0;
    transition: 300ms;
}

.mylist:hover {
    padding-left: 20px;
}